In [12]:
import matplotlib.pyplot as plt
import pandas as pd

csv_file_path = '../datasets/20250301-buses.csv'
columns_to_be_dropped = ['_id', 'vehicle.trip.trip_id', 'vehicle.position.speed', 'vehicle.vehicle.id',
                         'vehicle.congestion_level',]

data = pd.read_csv(csv_file_path)
data = data.drop(columns_to_be_dropped, axis=1)
data.head(10)

,id,vehicle.trip.start_time,vehicle.trip.start_date,vehicle.trip.route_id,vehicle.position.latitude,vehicle.position.longitude,vehicle.current_stop_sequence,vehicle.current_status,vehicle.timestamp,vehicle.occupancy_status,vehicle.position.bearing
0,41053,08:30:00,20250301,140,45.568321,-73.653305,32,1,1740837663,3,NaN
1,31841,08:51:00,20250301,121,45.506229,-73.692696,9,1,1740837662,1,39.0
2,42027,08:48:00,20250301,140,45.566505,-73.657669,15,2,1740837660,3,28.0
3,29850,09:14:00,20250301,121,45.497978,-73.709808,1,1,1740837657,1,314.0
4,31117,08:19:00,20250301,140,45.606026,-73.635910,43,2,1740837655,1,325.0
5,30862,08:28:00,20250301,121,45.536247,-73.665375,25,2,1740837655,2,NaN
6,36001,08:48:00,20250301,45,45.533981,-73.576859,10,2,1740837654,1,303.0
7,42029,08:32:00,20250301,45,45.540760,-73.591476,28,1,1740837653,1,NaN
8,30834,08:25:00,20250301,121,45.513908,-73.683311,39,1,1740837649,2,225.0
9,41080,09:02:00,20250301,45,45.573563,-73.658623,1,1,1740837648,1,NaN